{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body %}
<div class="container">
    <div>
    <h1>My Bids <a class="btn btn-primary pull-right" href="{% url 'bid:add-bid' %}">Add Bid</a></h1>
    <hr/>
    </div>
    {% if bids %}
    <table class="table table-striped table-hover table-borderless">
        <thead>
            <th></th>
            <th>Bid Entity</th>
            <th>Date Created</th>
        </thead>
        <tbody>
        {% for bid in bids %}
            <tr>
                <td><a class="btn btn-primary" href="{% url 'bid:edit-bid' bid.pk %}">Edit</a></td>
                <td>{{ bid.bid_entity }}</td>
                <td>{{ bid.created }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}