{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body %}
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('{% static '/img/antoine-barres.jpg' %}')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">BidMethod</h1>
                    <div class="fog-low">
                        <img src="{% static 'img/fog-low.png' %}" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="{% static 'img/fog-low.png' %}" alt="">
                    </div>
                </div>
                <h2 class="presentation-subtitle text-center">UNDER CONSTRUCTION</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}